<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Video | MeTube</title>
</head>
<body>
    <form action="{{ url_for('Profile.edit_video', video_id=vide.id) }}" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.title.label }}: {{ form.title() }}<br>
        {{ form.body.label }}: {{ form.body() }}<br>
        {{ form.submit() }}
    </form>
</body>
</html>