<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | MeTube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="wrapper">
        <form action="/login" method="post">
            {{ form.hidden_tag() }}
            {{ form.username.label }}: {{ form.username() }}<br>
            {{ form.password.label }}: {{ form.password() }}<br>
            {{ form.submit() }}
        </form>
    </div>
</body>
</html>